<link rel="stylesheet" href="./index.scss">

<section class="ui-org-header">
		<div class="ui-border-b top-banner">
	        <div class="ui-avatar-one">
	        <span style="background-image:url(//9.url.cn/edu/banner/img/2aadd0f8_760_300.png)"></span>
	        </div>
	        <div class="desc">
	            <h2>社团团长</h2>
	            <h5><span>动态:2348o7</span>/<span>关注:w2348</span></h5>
	            <div class="btn-group">
	            	<button class="btn btn-join">进社团</button>
	            	<button class="btn btn-up"><i class="ui-icon-liked"></i>234</button>
	            </div>
	        </div>
	    </div>
</section>

