<link rel="stylesheet" href="./index.scss">
<section class="ui-panel ui-panel-pure ui-comment">
    <div class="devider"><i class="ui-icon-comment"></i><span>234</span></div>
    <ul class="ui-list">
        <li class="ui-border-t">
            <div class="ui-avatar-tiled">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <p class="ui-nowrap"><span class="name">这是标题断</span><small>武汉大学</small></p>
                <p class="ui-nowrap"><small>201604032</small></p>
                <p class="comment">这是内容，sdlkfskldfkjshdfkjshd卡洛斯的刚开始都很费劲速度快了飞机和深刻的浪费立刻回家时考虑的风格加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar-tiled">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <p class="ui-nowrap"><span class="name">这是标题断</span><small>武汉大学</small></p>
                <p class="ui-nowrap"><small>201604032</small></p>
                <p class="comment">这是内容，sdlkfskldfkjshdfkjshd卡洛斯的刚开始都很费劲速度快了飞机和深刻的浪费立刻回家时考虑的风格加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar-tiled">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <p class="ui-nowrap"><span class="name">这是标题断</span><small>武汉大学</small></p>
                <p class="ui-nowrap"><small>201604032</small></p>
                <p class="comment">这是内容，sdlkfskldfkjshdfkjshd卡洛斯的刚开始都很费劲速度快了飞机和深刻的浪费立刻回家时考虑的风格加ui-nowrap可以超出长度截断</p>
                <p class="comment">回复<span class="name">这是标题断</span>这是内容，sdlkfskldfkjshdfkjshd卡洛斯的刚开始都很费劲速度快了飞机和深刻的浪费立刻回家时考虑的风格加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
    </ul>
</section>
