
.ui-container{
	h2{
		width: 6rem;
		padding: 0 1rem;
		position: relative;
		top: -1rem;
		margin: 0 auto;
		background-color: #fff;
		color: #31c27c;
	}
	.ui-txt-justify{
		font-size: 1.6rem;
		text-indent: 2rem;
	}
}